*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --darkblue-400 :#0a3871;
    --gray-100:#f3f5fc;
    --gray-200:#d8dfe8;
    --white:#ffffff;
}
header{
    height: 96px;
    width: 375px;
    
    
}
nav img{
    width: 2rem;
    height: 3rem;
    margin: 24px 0 0 16px;
}

html, body{
  
   background: var(--gray-100);

}
main{
    height: calc(100%-96px);
}
.conteiner{
    display: flex;
    flex-direction: column;
    
}
.text-input{
   
    width: 21.4rem;
    height: 3rem;
    color: var(--darkblue-400);
    font-size: 1rem;
    margin-top: 3.5rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    background: var(--gray-100);
    

    
}
#textAviso{
    margin-top: 15.68rem;
    margin-left: 1rem;
    
    
}

.button-cont{
    height: 158px;
    margin-left: 1rem;
    
    max-width: 343px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    
}
#botao_criptografar{
    width:343px;
    height: 67px;
    margin-bottom: 24px;
    border-radius: 24px;
    background:var(--darkblue-400);
    cursor: pointer;
    text-decoration: none;
}
#botao_descriptografar{
    width:343px;
    height: 67px;
    border-radius: 24px;
    background: var(--gray-200);
    text-align: center;
    
}

#mensagem{
    position: 707px;
    
}
#imgDireita{
    margin-left: 16%;
    width: 70%;
    display: none;
}

#texto2{
    background:  url("../img/mensagem.svg") center no-repeat;
    background-color: var(--white);
    width: 327px;
    height: 186px;
    border: none;
    outline: none;
    font-size: 15px;
    resize: none;
    margin-top: 707px;
    padding: 32px;
    gap: 32px;
    margin-left: 24px;
    border-radius: 32px;
}
input[disabled]{
    background-color: var(--white);
}


#copiar{   
    margin-left: 25%;
    width: 50%;
        
    padding: 2%;
    margin-top: 75%;
        
    
    background: var(--gray-200);
    border-radius: 24px;
    display: none;
    text-align: center;
}

#idcopiar{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    text-align: center;
}